SERVER_HOST=127.0.0.1
SERVER_PORT=8088
DB_HOST=127.0.0.1
DB_NAME=TravelRag
COLLECTION_NAME=ships
OPENAI_API_KEY="sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
LLM_MODEL="gpt-3.5-turbo"
EMBEDDING_MODEL="text-embedding-3-small"
LANGCHAIN_API_KEY="lsv2_pt_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_PROJECT="Travel Agent"
LANGCHAIN_TRACING_V2=True
AMQP_DSN=amqp://guest:guest@127.0.0.1:5672/
DOCS_DIR="./documents"
VECTORSTORE_DIR="./chromadata"
LOG_FILE="fast_ai.log"