aio-pika==9.4.1
aiormq==6.8.0
fastapi==0.111.0
langchain-openai==0.1.8
langchain==0.2.3
langchain-community==0.2.4
langchain-mongodb==0.1.6
motor==3.4.0
openai==1.33.0
pamqp==3.3.0
pydantic==2.5.3
pydantic-settings==2.2.1
pydantic_core==2.14.6
pymongo==4.7.2
python-dotenv==1.0.0
tiktoken==0.7.0
uvicorn==0.30.1