aio-pika==9.4.1
aiormq==6.8.0
black=24.4.2
chroma-hnswlib==0.7.3
chromadb==0.4.22
click==8.1.7
fastapi==0.111.0
isort==5.13.2
langchain-openai==0.1.8
langchain==0.2.3
langchain-community==0.2.4
langchain-mongodb==0.1.6
motor==3.4.0
mypy-extensions==1.0.0
openai==1.33.0
packaging==23.2
pamqp==3.3.0
pathspec==0.12.1
platformdirs==4.2.2
pydantic==2.5.3
pydantic-settings==2.2.1
pydantic_core==2.14.6
pymongo==4.7.2
python-dotenv==1.0.0
tiktoken==0.7.0
uvicorn==0.30.1
